.feed-back-container
    .feed-back
    .feed-back-item
        .feed-back-close
        span +7 (8412) 61- 68 - 37
        a(href="#").btn.btn-call ПОЗВОНИТЬ
.pre-footer
    .inner
        .clients-slider
            ul#clients-slider.gallery.content-slider.list-unstyled.clearfix
                li
                    img(src="img/raster/client1.png")
                li
                    img(src="img/raster/client2.png")
                li
                    img(src="img/raster/client3.png")
                li
                    img(src="img/raster/client1.png")
                li
                    img(src="img/raster/client2.png")
                li
                    img(src="img/raster/client3.png")
            a.clients-slider-prev.clients-slider-all.clients-slider-left
            a.clients-slider-next.clients-slider-all.clients-slider-right
footer
    .inner
        .pull-left.f-none-f
            ul
                li
                    a(href="#") О КОМПАНИИ
                li
                    a(href="#") БУХГАЛТЕРСКИЕ УСЛУГИ
                li
                    a(href="#") РЕГИСТРАЦИЯ ФИРМ И ИП
                li
                    a(href="#") ЗАПОЛНЕНИЕ  НАЛОГОВЫХ
                li
                    a(href="#") ДЕКЛАРАЦИЙ
                li
                    a(href="#") МОНИТОРИНГ ЗАКОНОДАТЕЛЬСТВА
                li
                    a(href="#") ПАМЯТКА ПРЕДПРИНИМАТЕЛЯ
                li
                    a(href="#") ПРАЙС
                li
                    a(href="#") УЗНАЙ СВОЙ ИНН
                li
                    a(href="#") КОНТАКТЫ
        .pull-right.f-none-f
            .footer-right
                p
                    | 2011 © Референт - деловой центр.
                    br
                    |  г.Заречный  ул.Ленина 58а
                    br
                    | Тел.: +7(8412) 61-68-37
script.
    var scr = {"scripts":[
        {"src" : "js/libs.js", "async" : false},
        {"src" : "js/common.js", "async" : false}
    ]};!function(t,n,r){"use strict";var c=function(t){if("[object Array]"!==Object.prototype.toString.call(t))return!1;for(var r=0;r<t.length;r++){var c=n.createElement("script"),e=t[r];c.src=e.src,c.async=e.async,n.body.appendChild(c)}return!0};t.addEventListener?t.addEventListener("load",function(){c(r.scripts);},!1):t.attachEvent?t.attachEvent("onload",function(){c(r.scripts)}):t.onload=function(){c(r.scripts)}}(window,document,scr);
    // Load Scripts End