header
    .header-yellow
    .header-mid
        .inner
            .container-fluid
                .row
                    .col-md-12
                        .pull-left.f-none
                            a.logo(href="#")
                        .pull-right.f-none
                            .header-mid-right
                                a.btn.btn-yellow(href="#")
                                    |ПАМЯТКА
                                    br
                                    |ПРЕДПРИНИМАТЕЛЯ
                                .search-form
                                    button.btn Поиск по сайту
                                    input(type="text", name="s")
    .header-yellow.header-yellow-mod
        .inner
            .container-fluid
                .row
                    .col-md-12
                        .head-mnu
                            .hamburger.hamburger--elastic
                                .hamburger-box
                                    .hamburger-inner
                            ul.clearfix
                                li
                                    a(href="#") О КОМПАНИЙ
                                li
                                    a(href="#") МОНИТОРИНГ ЗАКОНОДАТЕЛЬСТВА
                                li
                                    a(href="#") 3-НДФЛ
                                li
                                    a(href="#") УЗНАЙ СВОЙ ИНН
                                li
                                    a(href="#") ПРАЙС
                                li
                                    a(href="#") КОНТАКТЫ

