doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header
        .content
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .pechat
                                i.icon.icon-pech
                                a(href="#") Версия для печати
                    .row
                        .col-md-12
                            ul.ul-bold
                                li 1. Налоговые декларации для предпринимателей и юридических лиц.
                                li 2. Декларации 3-НДФЛ.
        include _footer