doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header
        .content
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .pechat
                                i.icon.icon-pech
                                a(href="#") Версия для печати
                    .row
                        .col-md-12
                            .content-uslugi.content-uslugi-crumbs
                                .bread-crumbs
                                    a(href="#") Главная
                                    span >
                                    a(href="#") Контакты
                                h3 КОНТАКТЫ
                                h3 Главный офис:
                                .contacts-span
                                    span Пензенская область, г.Заречный, ул.Ленина, 58а
                                    span тел./факс +7(8412) 61-68-37
                                    span сот. 89085331765
                                .contacts-span
                                    span время работы:
                                    span 8.00-18.00 без перерыва
                                    span выходные: суббота, воскресенье.
                                img(src="img/raster/refer.png")
                                h3 Филиал
                                .contacts-span
                                    span Пензенская область, г.Заречный,
                                        br
                                        |ул. Комсомольская А2, ком. 222
                                    span тел. +7(8412) 65-46-30
                                    span сот. +79085336791
                                .contacts-span
                                    span время работы:
                                    span 8.00-18.00 без перерыва
                                    span выходные: суббота, воскресенье.
                                img(src="img/raster/refer2.png")
                                h3 Е-mail:
                                    span referent_bc@mail.ru
        include _footer