doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header
        .content
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .pechat
                                i.icon.icon-pech
                                a(href="#") Версия для печати
                    .row
                        .col-md-12
                            .content-uslugi.content-uslugi-crumbs
                                .bread-crumbs
                                    a(href="#") Главная
                                    span >
                                    a(href="#") 3НДФЛ
                                p.p-bold.p-pad Заполнение налоговых деклараций по налогу на доходы физических лиц (форма 3–НДФЛ)
                                p.p-pad В стоимость услуг по заполнению налоговой декларации по форме 3–НДФЛ входит:
                                ul.p-pad
                                    li 1. Консультация налогоплательщика.
                                    li 2. Анализ представленных документов и конкретной ситуации.
                                    li 3. Расчет НДФЛ к возмещению или уплате.
                                    li 4. Заполнение налоговой декларации по форме 3–НДФЛ.
                                    li 5. Подготовка заявлений на возмещение НДФЛ.
                                p.p-bold Какие документы необходимы для подготовки заполнения налоговой декларации по форме 3–НДФЛ?
                                p.p-pad Перечень документов, необходимых для заполнения налоговой декларации по форме 3–НДФЛ и подготовки заявлений в налоговый орган зависят вида полученных доходов и произведенных расходов.
                                p.p-bold.p-pad.li-special Для получения имущественного налогового вычета (ст. 220 НК РФ):
                                p.pre-ul.p-pad 1. При покупке жилья
                                ul.check-mnu.check-mnu-mod.p-pad
                                    li Паспорт, ИНН;
                                    li Справка о доходах за соответствующий период по форме 2-НДФЛ;
                                    li Договор приобретения квартиры с приложениями и дополнительными соглашениями к нему (если такие имеются), либо договор долевого участия в строительстве;
                                    li Документы, подтверждающие оплату (например, расписки, платежные поручения, банковские выписки о перечислении денежных средств со счета покупателя на счет продавца);
                                    li Документы, подтверждающие право собственности на квартиру (свидетельство о государственной регистрации права, с 15.07.16 г. - выписка из Единого государственного реестра прав (ЕГРП);
                                    li Справка из банка об уплаченных процентах за весь период кредитования (если был кредит).
                                    li Сбер.книжка
                                p.pre-ul.p-pad При вторичном и последующем обращениях нужны следующие документы:
                                ul.check-mnu.check-mnu-mod.p-pad
                                    li Паспорт, сберкнижка, ИНН;
                                    li Справка о доходах за соответствующий период по форме 2-НДФЛ;
                                    li Документы, которые изменились (например, справка из банка, если в данном налоговом периоде осуществляется возврат по процентам)
                                p.p-bold.p-pad 2. При продаже жилья и прочего имущества (автомобиля, гаража, дачного участка и т.п.):
                                ul.check-mnu.check-mnu-mod.p-pad
                                    li Паспорт, ИНН;
                                    li Договор купли-продажи;
                                    li Если договор не сохранился, необходимы данные: Ф.И.О. покупателя, сумма продажи, сколько лет в собственности находилось имущество, марка машины (при продажи автомобиля).
                                .block-h-blue ВНИМАНИЕ! При продаже имущества, находившегося в собственности налогоплательщика более трех лет, налоговая декларация 3-НДФЛ не подается.
                                p.pre-ul.p-pad Для получения социального налогового вычета (ст. 219 НК РФ)
                                p.p-bold.p-pad 1. За обучение ребёнка по очной форме в образовательных учреждениях
                                ul.check-mnu.check-mnu-mod.p-pad
                                    li Паспорт, ИНН;
                                    li Справка о доходах за соответствующий период по форме 2-НДФЛ;
                                    li Договор об обучении (дневная форма обучения, если обучение ребенка), с приложениями и дополнительными соглашениями к нему (в случае изменения суммы оплаты);
                                    li Документы, подтверждающие оплату обучения;
                                    li Лицензия образовательного учреждения;
                                    li Свидетельство о рождении ребенка (если обучение ребенка до 24 лет);
                                    li Сбер. книжка.
                                p.p-bold.p-pad 2. За свое обучение в образовательных учреждениях
                                ul.check-mnu.check-mnu-mod.p-pad
                                    li Паспорт, ИНН;
                                    li Справка о доходах за соответствующий период по форме 2-НДФЛ;
                                    li Договор об обучении (дневная форма обучения, если обучение ребенка), с приложениями и дополнительными соглашениями к нему (в случае изменения суммы оплаты);
                                    li Документы, подтверждающие оплату обучения;
                                    li Лицензия образовательного учреждения;
                                    li Сбер. книжка.
                                p.p-bold.p-pad 3. За услуги по своему лечению, предоставленные медицинскими учреждениями РФ, а также лечению супруга (супруги), своих родителей или детей, а также в размере стоимости медикаментов (в соответствии с перечнем лекарственных средств, утвержденных Правительством РФ)
                                ul.check-mnu.check-mnu-mod.p-pad
                                    li Паспорт, ИНН;
                                    li Справка о доходах за соответствующий период по форме 2-НДФЛ;
                                    li Договор на лечение с приложениями и дополнительными соглашениями к нему (если такие имеются);
                                    li Справка об оплате мед. услуг для предоставления в налоговые органы;
                                    li Платежные документы с указанием данных плательщика;
                                    li Лицензия мед.учреждения;
                                    li Рецептурные бланки со штампом «Для налоговых органов»;
                                    li Сбер. книжка.
        include _footer