doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header
        .inner
            .header-slider
                .inner
                    ul#head-slider.gallery.content-slider.list-unstyled.clearfix
                        li
                            .slider-block.slider-block1
                                .slider-item.slider-item1
                                    | Заполнение и сдача
                                    | налоговых деклараций
                        li
                            .slider-block.slider-block2
                                .slider-item.slider-item2
                                    | Бухгалтерские услуги
                        li
                            .slider-block.slider-block3
                                .slider-item.slider-item3
                                    | Регистрация ООО и ИП
                    a.head-slider-prev.head-slider-all.head-slider-left
                    a.head-slider-next.head-slider-all.head-slider-right
            .content
                .container-fluid
                    .row
                        .col-md-12
                            .block-h-green Деловой центр «Референт»
                            p
                                | Создан в 1999 году для оказания консультационных услуг по заполнению деклараций предпринимателям и жителям г. Заречного.
                            p
                                | На сегодняшний день ДЦ «Референт» , являясь ведущей организацией в области налогового консалтинга, оказывает:
                            ul
                                li - широкий спектр бухгалтерских, юридических, консультационных, бытовых услуг жителям города и иногородним клиентам.
                                li - поддержку стартапов, в т.ч. на безвомездной основе (подробности),
                                li - услуги  по составлению бизнес-плана и обоснования кредита, помощь в регистраций ИП и ЮЛ,
                                li - услуги по заполнению  и сдаче налоговых деклараций по защищенным телекоммуникационным каналам связи,
                                li - услуги по ведению налоговой,бухгалтерской, кадровой дисциплины.
                            p
                                | К услугам клиентов ДЦ «Референт» прилагается большая база справочно-правовой
                                | системы «Гарант»
                            p
                                | Клиентами консалтинговой фирмы ДЦ «Референт» являются более 70% предпринимателей
                                |г.Заречного (по оценке информационно-аналитического центра «Иновейте», г.Москва)
                            .block-h-blue
                                | Ежемесячно свыше 1000  клиентов , юридических  и  физических лиц,
                                | пользуются услугами центра.
                            p
                                | Заключение договора с деловым центром «Референт», гарантирует качественное,
                                | экономичное, высокопрофессиональное обслуживание, отсутствие штрафов и пеней, полную конфиденциальность и непереставление третьим лицам полученной информаций,
                                | грамотное ведение бухгалтерского и налогового учета, кадровой дисциплины, внимательное отношение к клиенту и моментальное безаговорочное исправление допущенных в процессе работы ошибок.
                            p.p-bold
                                |Крупными клиентами ДЦ «Референт» являются:
                            ul
                                li - Магазин «Спортzona» ( HYPERLINK
                                    a(href="#") http://xn--80anscbdifm.com/
                                    |)
                                li - Магазин «Моя сантехника» ( HYPERLINK
                                    a(href="#") http://xn---58-6cda3avqnmbh4bq0cxk.xn--p1ai/
                                    |)
                                li - Ритуальная компания «Тризна» ( HYPERLINK
                                    a(href="#") http://trizna-zar.ru/
                                    |)
                                li - Танцевальный клуб Санкт-Петербурга «ТекилаДанс» ( HYPERLINK
                                    a(href="#") http://tequiladance.ru/
                                    |)
                                li - Мебельная компания «Лето»,
                                li - Мебельная компания «Лира Мастер»,
                                li - Компания «Замки Мира» (HYPERLINK
                                    a(href="#") http://zamkimira.com/
                                    |)
                                li - Клининговая компания «Старт-Уют».
                            p
                                |* - информация носит рекламный характер и публикуется с согласия клиентов центра.
                            p
                                | аключаются договоры на дистанционное обслуживание с заверкой через ЭЦП или e-mail.
                                | География обслуживания: Заречный, Пенза и Пензенская область, Москва, Московская область, Санкт-Петербург, Республика Карелия, Нижегородская область, Волгоград.
                            p
                                | Получение услуг в ДЦ «Референт» совмещает удобство интернет-обслуживания и
                                | индивидуального сопровождения бизнеса (за каждым клиентом закреплен курирующий
                                |  бухгалтер-консультант).
        include _footer