doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header
        .content
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .pechat
                                i.icon.icon-pech
                                a(href="#") Версия для печати
                    .row
                        .col-md-12
                            .content-uslugi.content-uslugi-crumbs
                                .bread-crumbs
                                    a(href="#") Главная
                                    span >
                                    a(href="#") Контакты
                                h3 23 Марта 2017
                                p.p-bold.li-special.p-sp Во сколько пользователю обойдется "online"-касса?
                                p.p-sp В соответствии с новым порядком применения ККТ данные о наличных
                                    |расчетах передаются в адрес налоговых органов в режиме реального
                                    |времени ("online"). Это позволит создать современную автоматизированную систему полного учета выручки и контроля за применением ККТ, а также
                                    |сократить объем "теневого" оборота наличных.
                                h3 20 Февраля 2017
                                p.p-bold.li-special.p-sp ИП на общей системе налогообложения: об исчислении страховых взносов
                                p.p-sp С 2017 г. ИП (в т. ч. нотариусы, адвокаты и др.) уплачивают страховые взносы, если их доход за год превышает 300 тыс. руб.
                                h3 4 Февраля 2017
                                p.p-bold.li-special.p-sp НДФЛ: особенности декларационной кампании-2017
                                p.p-sp Сообщается, что декларацию по НДФЛ за 2016 г. нужно представить до 02.05.2017. При этом следует учитывать некоторые особенности.
                                h3 4 Февраля 2017
                                p.p-bold.li-special.p-sp О регистрации ИП, производящих выплаты и иные вознаграждения физлицам при представлении ими копий трудовых договоров
                                p.p-sp ФНС России разъясняет, что начиная с 1 января 2017 г. регистрация ИП-работодателей в заявительном порядке в качестве страхователей не предусмотрена.
                                h3 8 Января 2017
                                p.p-bold.li-special.p-sp Новые коды бюджетной классификации по страховым взносам с 2017 года
                                p.p-sp С 2017 года контроль за расчётом и уплатой страховых взносов переходит от фондов к Федеральной налоговой службе, в связи с чем изменятся реквизиты платёжных документов. На следующий год уже утверждены новые КБК:
                                    |страховые взносы за работников и в ПФР в 2016 году для ИП за себя.
        include _footer