doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header
        .content
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .pechat
                                i.icon.icon-pech
                                a(href="#") Версия для печати
                    .row
                        .col-md-12
                            .content-uslugi.content-uslugi-crumbs
                                .bread-crumbs
                                    a(href="#") Главная
                                    span >
                                    a(href="#") Памятка
                                .block-h-green.block-h-green-mod.block-h-green-mod2 Памятка
                                ul.check-mnu
                                    li.li-special Налогообложение в Российской Федерации (6)
                                    li.li-special Список кадровых документов (2)
                                    li.li-special Сравнение ИП или ООО (4)
                                    li.li-special Штрафы и сроки (2)
                                ul
                                    li.li-special Платежи "за наёмных работников"
                                    li.li-special Фиксированный платеж
                                    li.li-special Критерии отбора налогоплательщика для выездной налоговой проверки

        include _footer