doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header
        .content
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .pechat
                                i.icon.icon-pech
                                a(href="#") Версия для печати
                    .row
                        .col-md-12
                            .content-uslugi.content-uslugi-crumbs
                                .bread-crumbs
                                    a(href="#") Главная
                                    span >
                                    a(href="#") Прайс
                                ul.check-mnu.p-pad
                                    li Оказание бухгалтерских и правовых услуг (по договорам)
                                    li Расчет платы за загрязнение окружающей среды
                                    li Оказание услуг по заполнению кадровых документов
                                    li Копировальные работы (ксерокопирование)
                                    li Оказание телекоммуникационных услуг
                                    li Услуги по подготовке данных на магнитных носителях
                                    li Услуги по набору текстовых документов
                                    li Оказание услуг по предоставлению интересов налогоплательщика на основании дове ренности
                                    li Услуги по распечатке фотографии
                                    li Отправление и получение факса
                                    li Оказание услуг по заполнению бланков
                                    li Горячее ламинирование
                                p.p-bold.p-pad.li-special Оказание бухгалтерских и правовых услуг (по договорам)
                                p Цена указана в руб. за месяц обслуживания
                                table
                                    tr
                                        th(width="60%") Услуги
                                        th(width="40%") Цена
                                    tr
                                        th(colspan="2") индивидуальные предприниматели
                                    tr
                                        td ЕНВД
                                        td.tac от 5000 руб. и выше * (договорная)
                                    tr
                                        td УСНО (6%)
                                        td.tac от 5000 руб. и выше * (договорная)
                                    tr
                                        td УСНО (15%)
                                        td.tac от 8000 руб. и выше * (договорная)
                                    tr
                                        td УСНО
                                        td.tac от 10 000 руб. и выше * (договорная)
                                    tr
                                        th(colspan="2") юридические лица
                                    tr
                                        td ЕНВД, УСНО
                                        td.tac от 10 000 руб. и выше * (договорная)
                                    tr
                                        td ОСНО
                                        td.tac от 15 000 руб. и выше * (договорная)
                                p.p-bold.p-pad.li-special Копировальные работы (ксерокопирование)
                                p Цена указана в руб. за одну сторону
                                    br
                                    |(плотность бумаги 65-80 г)
                                a.a-up(href="#") НАВЕРХ
                                table
                                    tr
                                        th(width="33.3%") Услуги
                                        th(width="33.3%")
                                        th(width="33.3%") Цена
                                    tr
                                        td Расчет платы за выбросы, сбросы загрязненных веществ в окружающую среду
                                        td Квартальный отчет  (в зависимости от количества отходов)
                                        td.tac 700-00 и выше (договорная)
                                    tr
                                        td Составление годового отчета "МСП"
                                        td
                                        td.tac 1000-00
                                    tr
                                        td Сдача отчетов в Управление Росприроднадзора г. Пенза
                                        td
                                        td.tac 500-00

                                p.p-bold.p-pad.li-special Оказание телекоммуникационных услуг
                                p Цена указана в руб. за один отчет
                                a.a-up(href="#") НАВЕРХ
                                table
                                    tr
                                        th(width="60%") Услуги
                                        th(width="40%") Цена
                                    tr
                                        td Разработка правил внутреннего трудового распорядка
                                        td.tac 300-00
                                    tr
                                        td Разработка Положения о персональных данных работников
                                        td.tac 300-00
                                    tr
                                        td Составление штатного расписания
                                        td.tac 100-00
                                    tr
                                        td Заполнение книги учета движения трудовых книжек
                                        td.tac 200-00
                                    tr
                                        td Составление графика отпусков
                                        td.tac 100-00
                                    tr
                                        td Заполнение трудового договора
                                        td.tac 150-00
                                    tr
                                        td Заполнение дополнительного соглашения к трудовому договору
                                        td.tac 50-00
                                    tr
                                        td Заполнение договора о полной материальной ответственности
                                        td.tac 50-00
                                    tr
                                        td Заполнение приказа
                                        td.tac 50-00
                                    tr
                                        td Заполнение приказа
                                        td.tac от 200-00 и выше (договорная)
                                    tr
                                        td Заполнение журнала регистрации приказов
                                        td.tac 150-00
                                    tr
                                        td Заполнение журнала регистрации приказов
                                        td.tac от 200-00 и выше (договорная)
                                    tr
                                        td Заполнение личной карточки
                                        td.tac 150-00
                                    tr
                                        td Заполнение трудовой книжки
                                        td.tac от 200-00 и выше (договорная)
                                    tr
                                        td Заполнение расчетной, платежной ведомости по зарплате
                                        td.tac 50-00

                                p.p-bold.p-pad.li-special Услуги по подготовке данных на магнитных носителях
                                a.a-up(href="#") НАВЕРХ
                                table
                                    tr
                                        th(width="25%") Услуги
                                        th(width="55%") Дополнения
                                        th(width="20%") Цена
                                    tr
                                        td(rowspan="2") Обычный текст
                                            br
                                            | (Формат А-4)
                                        td.tac до 50 листов
                                        td.tac 7-00
                                    tr
                                        td.tac более 50 листов
                                        td.tac 5-00
                                    tr
                                        td(rowspan="2") Обычный текст
                                            br
                                            | (Формат А-3)
                                        td.tac до 50 листов
                                        td.tac 10-00
                                    tr
                                        td.tac более 50 листов
                                        td.tac 9-00
                                    tr
                                        td Документы
                                            br
                                            | (формат А5)
                                        td.tac паспорта, свидетельства, трудовые книжки и т.д.
                                        td.tac 7-00
                                    tr
                                        td Масштабирование
                                        td
                                        td.tac 8-00
                                    tr
                                        td Фоновое изображение
                                        td
                                        td.tac 9-00

                                p.p-bold.p-pad.li-special Услуги по набору текстовых документов
                                p формата А4
                                a.a-up(href="#") НАВЕРХ
                                table
                                    tr
                                        th(width="60%") Услуги
                                        th(width="40%") Цена
                                    tr
                                        td Разработка правил внутреннего трудового распорядка
                                        td.tac 300-00
                                    tr
                                        td Разработка Положения о персональных данных работников
                                        td.tac 300-00
                                    tr
                                        td Составление штатного расписания
                                        td.tac 100-00
                                    tr
                                        td Заполнение книги учета движения трудовых книжек
                                        td.tac от 250-00 и выше (договорая)
                                    tr
                                        td Разработка должностных инструкций
                                        td.tac 200-00
                                    tr
                                        td Составление графика отпусков
                                        td.tac 100-00
                                    tr
                                        td Заполнение трудового договора
                                        td.tac 150-00
                                    tr
                                        td Заполнение дополнительного соглашения к трудовому договору
                                        td.tac 50-00
                                    tr
                                        td Заполнение договора о полной материальной ответственности
                                        td.tac 50-00
                                    tr
                                        td Заполнение приказа
                                        td.tac 50-00
                                    tr
                                        td Заполнение журнала регистрации приказов
                                        td.tac от 200-00 и выше (договорная)
                                    tr
                                        td Заполнение личной карточки
                                        td.tac 150-00
                                    tr
                                        td Заполнение трудовой книжки
                                        td.tac от 200-00 и выше (договорная)
                                    tr
                                        td Заполнение расчетной, платежной ведомости по зарплате
                                        td.tac 50-00
                                    tr
                                        td Заполнение табеля учета рабочего времени и расчета оплаты труда (на 1 человека)
                                        td.tac 100-00

                                p.p-bold.p-pad.li-special Оказание услуг по предоставлению интересов налогоплательщика на основании доверенности
                                p Цена указана в руб. за одну услугу
                                a.a-up(href="#") НАВЕРХ
                                table
                                    tr
                                        th(width="80%") Услуги
                                        th(width="20%") Цена
                                    tr
                                        td Передача деклараций и расчетов в ИФНС по сети (ч/з Интернет)
                                        td.tac 200
                                    tr
                                        td Передача отчетов в Росалкогольрегулирование (Министерство сельского хозяйства Пензенской области, Федеральная служба регулирования алкогольного рынка)
                                        td.tac 400
                                p.p-bold.p-pad.li-special Услуги по подготовке данных на магнитных носителях
                                a.a-up(href="#") НАВЕРХ
                                table
                                    tr
                                        th(width="80%") Услуги
                                        th(width="20%") Цена
                                    tr
                                        td Индивидуальные сведения в ПФР (внесение)
                                        td.tac 100-00
                                    tr
                                        td Справки о доходах ФЛ в ИФНС (внесение)
                                        td.tac 100-00
                                    tr
                                        td Составление ежемесячных сведений в ПФР (СЗВ-М)
                                        td.tac 150-00
                                    tr
                                        td Составление расчета по НДФЛ (6-НДФЛ)
                                        td.tac 500-00
                                    tr
                                        td Распечатка на лаз. принтере (за 1 стр.)
                                        td.tac 7-00


                                a.a-up(href="#") НАВЕРХ
                                table
                                    tr
                                        th(width="80%") Услуги
                                        th(width="20%") Цена
                                    tr
                                        td Набор обычного текста (кегль шрифта 14, межстрочный интервал 1.5)
                                        td.tac 70-00
                                    tr
                                        td Текст с формулами, таблицами
                                        td.tac 90-00
                                    tr
                                        td Платежное поручение
                                        td.tac 50-00
                                    tr
                                        td Выписка первичных документов (счет, накладная, с/фактура)
                                        td.tac 50-00
                                    tr
                                        td Шнуровка, нумерация книг, журналов, квитанций
                                        td.tac 50-00
                                    tr
                                        td Распечатка на цветном лазерном принтере (80 г)
                                        td.tac 30-00
                                    tr
                                        td Распечатка на цветном лазерном принтере(140-170г)
                                        td.tac 40-00

                                p.p-bold.p-pad.li-special Цена указана в руб. за один документ
                                a.a-up(href="#") НАВЕРХ
                                table
                                    tr
                                        th(width="80%") Услуги
                                        th(width="20%") Цена
                                    tr
                                        td Регистрация фирм
                                        td.tac 5 000-00
                                    tr
                                        td Регистрация некоммерческих организаций
                                        td.tac 8 000-00
                                    tr
                                        td Ликвидация фирм
                                        td.tac 10 000-00 и выше* (договорная)
                                    tr
                                        td Закрытие ИП
                                        td.tac 3 000-00 и выше* (договорная)
                                    tr
                                        td Заполнение заявления о гос. регистрации ИП, ООО
                                        td.tac 500-00
                                    tr
                                        td Подготовка устава
                                        td.tac 1 500-00
                                    tr
                                        td Подготовка уставных и регистрационных документов
                                        td.tac 2 500-00
                                    tr
                                        td Получение письма статистики
                                        td.tac 100-00
                                    tr
                                        td Получение выписки из гос. реестра
                                        td.tac 500-00
                                    tr
                                        td Регистрация ИП в качестве работодателя
                                        td.tac 2 000-00
                                    tr
                                        td Сдача отчетов во внебюджетные фонды
                                        td.tac 300-00

                                p.p-bold.p-pad.li-special Отправление и получение факса
                                a.a-up(href="#") НАВЕРХ
                                table
                                    tr
                                        th(width="80%") Услуги
                                        th(width="20%") Цена
                                    tr
                                        td.tac Распечатка фото 10х15
                                            br
                                            |до 50 шт.
                                            br
                                            |от 51 до 100 шт.
                                            br
                                            |от 101 до 500 шт.
                                            br
                                            |свыше 500 шт.
                                        td.tac 10-00
                                            br
                                            |8-00
                                            br
                                            |7-00
                                            br
                                            |6-00
                                    tr
                                        td Распечатка фото А4 формат (обычная бумага)
                                        td.tac 30-00
                                    tr
                                        td Распечатка фото А4 формат (фото бумага)
                                        td.tac 40-00


                                p.p-bold.p-pad.li-special Горячее ламинирование
                                a.a-up(href="#") НАВЕРХ
                                table
                                    tr
                                        th(width="70%") Услуги
                                        th(width="30%") Цена
                                    tr
                                        td Сканирование документа (формата А4)
                                        td.tac 20-00
                                    tr
                                        td Распечатка фото А4 формат (фото бумага)
                                        td.tac от 10-00 и выше (договорная)

                                p.p-bold.p-pad.li-special Горячее ламинирование
                                a.a-up(href="#") НАВЕРХ
                                table
                                    tr
                                        th(width="80%") Услуги
                                        th(width="20%") Цена
                                    tr
                                        td Отправка факса (Заречный, Пензенская обл.)
                                        td.tac 50-00
                                    tr
                                        td Отправка факса (за пределы Пензенской обл.)
                                        td.tac 80-00
                                    tr
                                        td Отправка факса (2-ой и последующие листы)
                                        td.tac 10-00
                                    tr
                                        td Получение факса
                                        td.tac 30-00
                                    tr
                                        td Отправка, получение эл. почты
                                        td.tac 50-00

                                p.p-bold.p-pad.li-special Цена указана в руб. за один документ
                                a.a-up(href="#") НАВЕРХ
                                table
                                    tr
                                        th(width="80%") Услуги
                                        th(width="20%") Цена
                                    tr
                                        td Формат А-4
                                        td.tac 50-00
                                    tr
                                        td Формат А-5
                                        td.tac 40-00
                                    tr
                                        td Формат А-6
                                        td.tac 30-00
                                    tr
                                        td Пропуска, удостоверения
                                        td.tac 30-00
                                    tr
                                        td Шнуровка, нумерация книг, журналов, квитанций
                                        td.tac 30-00


                                p.p-bold.p-pad.li-special Горячее ламинирование
                                a.a-up(href="#") НАВЕРХ
                                table
                                    tr
                                        th(width="80%") Услуги
                                        th(width="20%") Цена
                                    tr
                                        td Заполнение декларации ЕНВД
                                        td.tac 400-00
                                    tr
                                        td Заполнение декларации УСНО
                                        td.tac 500-00
                                    tr
                                        td Заполнение декларации о доходах (предприним. деятельность)
                                        td.tac 400-00
                                    tr
                                        td Заполнение декларации о доходах (приобретение имущества)
                                        td.tac 450-00
                                    tr
                                        td Заполнение декларации о доходах (приобретение имущества по кредитному договору)
                                        td.tac 500-00
                                    tr
                                        td Заполнение заявления на имущественный вычет
                                        td.tac 200-00
                                    tr
                                        td Заполнение декларации о доходах (продажа имущества)
                                        td.tac 300-00
                                    tr
                                        td Заполнение декларации о доходах (приобретение + продажа)
                                        td.tac 500-00
                                    tr
                                        td Заполнение декларации о доходах (обучение, лечение)
                                        td.tac 300-00
                                    tr
                                        td Заполнение расчетных ведомостей в Фонд СС (1 квартал)
                                        td.tac 400-00
                                    tr
                                        td Заполнение расчетных ведомостей в Фонд СС (декрет)
                                        td.tac 500-00
                                    tr
                                        td Заполнение расчетных ведомостей в Пенсионный Фонд
                                        td.tac 500-00
                                    tr
                                        td Заполнение декларации по УСН, 3-НДФЛ (предпринимат.деятельность) нулевой отчет
                                        td.tac 400-00
                                    tr
                                        td Заполнение декларации по НДС (деятельность)
                                        td.tac 400-00
                                    tr
                                        td Заполнение декларации по НДС (налоговый агент)
                                        td.tac 200-00
                                    tr
                                        td Заполнение заявлений о регистрации, перерегистрации, внесении изменений, прекращении деятельности
                                        td.tac 500-00
                                    tr
                                        td Заполнение заявлений, квитанций, справок
                                        td.tac 100-00
                                    tr
                                        td Заполнение декларации по УСН, 3-НДФЛ (предпринимат.деятельность) нулевой отчет
                                        td.tac 150-00
                                a.a-up(href="#") НАВЕРХ
        include _footer