doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header
        .content
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .pechat
                                i.icon.icon-pech
                                a(href="#") Версия для печати
                    .row
                        .col-md-12
                            .block-h-green.block-h-green-mod Регистрация юридических лиц и ИП
                            .content-uslugi.content-register
                                ul
                                    li.li-special Регистрация индивидуальных предпринимателей
                                    li.li-special Регистрация Юридических лиц
                                    li Закрытие индивидуальных предпринимателей
                                    li Заполнение заявлений о государственной регистрации ИП и юр. лиц
                                    li Заполнение заявлений о внесении изменений в Единый государственный реестр, об изменении в учредительных документах юр. лиц.
                                    li одготовка документов для государственной регистрации юридических лиц
                                    li Подготовка Устава юридических лиц
                                    li Открытие расчетного счета
                                    li Получение письма из органов статистики
                                    li Регистрация Индивидуального предпринимателя в качестве работодателя
                                    li Регистрация ККТ
                                a.btn.btn-price(href="#") Прайс
        include _footer