doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header
        .content
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .pechat
                                i.icon.icon-pech
                                a(href="#") Версия для печати
                    .row
                        .col-md-12
                            .block-h-green Деловой центр «Референт»
                            .content-uslugi
                                p.p1-bold Ведение бухгалтерского и налогового учёта
                                p Составление налоговой отчетности
                                p Составление расчетов в Пенсионный фонд, Фонд социального страхования, Управление природными ресурсами.
                                p Составление отчетов в органы статистики
                                p Сдача отчетов в ИФНС, ПФР, ФСС, УПР, органы статистики, в том числе по телекоммуникационным каналам связи (ТКС)
                                p Составление и сдача деклараций об объёмах продажи алкогольной продукции в Управление рынка продовольствия и лицензирования
                                p Разработка системы внутрипроизводственного учёта, отчетности и контроля
                                p Экономический анализ финансово-хозяйственной деятельности
                                p Регистрация ККТ по нотариальной доверенности
                                a.btn.btn-price(href="#") Прайс
                                p.p1-bold Осуществление кадрового делопроизводства
                                p Представление интересов клиента при проведении проверок ИФНС по г.Заречному и внебюджетными фондами г. Заречного (за исключением представительства на межведомственной комиссии по выплатам заработной платы)
                                p.p1-bold Заполнение налоговых деклараци и отчетов во вне бюджетные фонды
                                p Сдача отчетов в ИФНС, ПФР, ФСС, УПР, Управление рынка продовольствия и лицензирования, органы статистики, в том числе по телекоммуникационным каналам связи (ТКС)
                                    |Заполнение налоговых деклараций по УСНО, ЕНВД, НДС, 3-НДФЛ и др.
                                    |Заполнение расчетов в Пенсионный фонд, Фонд социального страхования
                                    |Подготовка индивидуальных сведений за наёмных работников в ПФР
                                    |Подготовка сведений о доходах наемных работников по форме 2-НДФЛ
                                    |Составление расчетов, предоставляемых в Управление природными ресурсами
                                    |Расчет пособия по временной нетрудоспособности, заполнение больничных листов и промежуточных расчетов в ФСС
                                a.btn.btn-price(href="#") Прайс
                                p.p1-bold Налоговые, бухгалтерские и юридические консультации
        include _footer